PUBLIC_FIREBASE_API_KEY=AIzaSyCZ93shG6iwkInynKk8FZHDz57Ns3HWY88
PUBLIC_FIREBASE_AUTH_DOMAIN=portafoliopm2026.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=portafoliopm2026
PUBLIC_FIREBASE_STORAGE_BUCKET=portafoliopm2026.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=397641046895
PUBLIC_FIREBASE_APP_ID=1:397641046895:web:5b666ce8d338092183e69a
PUBLIC_CLOUDINARY_CLOUD_NAME=l0s58gnu
PUBLIC_CLOUDINARY_UPLOAD_PRESET=portafolio-yuly